
.header {
  max-width: 1000px;
  margin: auto;
  margin-top: 45px;
  padding: 15px;
  border: 1px solid #d6e9c6;
  border-radius: 4px;
  color: #3c763d;
  background-color: #dff0d8;
  text-align: center;
  color: green;
  font-size: 50px;
}

.keyboard {
    max-width: 1000px;
    margin: auto;
    min-height: 350px;
    margin-top: 45px;
    display: block;
    padding: 5px;
}

.key {
    width: 50px;
    height: 50px;
    border: 1px solid green;
    margin: 3px;
    padding: 3px;
    float: left;
}

.key:hover {
  background-color: rgb(201, 235, 172);
}

.key:active {
  background-color: orange;
}

.clear {
  display: block;
  width: 100%;
  clear: both;
}

.backspace {
  width: 150px;
}

.tab {
  width: 125px;
}

.flash {
  width: 60px;
}

.capslock {
  width: 120px;
}
.enter {
  width: 140px;
}

.shift {
  width: 130px;
}

.space {
  width: 388px;
}

.arrow-up {
  background: url(img/arrow_up.png) no-repeat;
}
.arrow-right {
  background: url(img/arrow_right.png) no-repeat;
}
.arrow-left {
  background: url(img/arrow_left.png) no-repeat;
}
.arrow-down {
  background: url(img/arrow_down.png) no-repeat;
  display: block;
}



.active {
  background-color: orange;
}

.teaxarea {
  width: 1000px;
    margin: auto;
    height: 200px;
    margin-top: 45px;
    display: block;
    font-size: 20px;

}

